@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');


body {
    padding-top: 55px;
    margin: 0;
    background: #eee;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: #009aee;
}

.font-weight-600 {
    font-weight: 600;
}

.no-margin {
    margin: 0;
}

.no-margin-top {
    margin-top: 0;
}

.font-10 {
    font-size: 10px;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px;
}

.padding-lr-40px {
    padding-left: 40px;
    padding-right: 40px;
}

/*--- HOME SLIDER CODE ---*/

.home-slider {
    margin-bottom: 20px;
}

.carousel-inner {
    height: 350px;
}

.carousel-inner .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.register-btn {
    background: #009aee;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.register-btn:focus,
.register-btn:hover {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: #009aeea8;
}

.aboutUs {
    padding: 100px 0;
}

.top-footer {
    background: rgba(0, 0, 0, 0.84);
    padding: 40px 80px;
}

.contact-links a,
.quick-links a {
    display: block;
    padding: 10px 0 0;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.address-info {
    margin-bottom: 20px;
}

.address-info p {
    color: #fff;
    padding: 10px 0 0;
    margin: 0;
    font-size: 13px;
}

.address-info p .fa {
    width: 20px;
}

.social-links a {
    text-decoration: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 16px;
    line-height: 2.4;
    margin: 10px 10px 10px 0;
    ;
}

.social-links a.facebook {
    background: #3b5999;
}

.social-links a.linkedin {
    background: #0077B5
}

.social-links a.instagram {
    background: #e4405f;
}

.copyright-footer {
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.9);
}

.copyright-footer span {}

.jobs-block .card {
    margin: 15px 0;
}

.job-title span {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    margin-right: 20px;
}

.apply-btn button {
    background: #009aee;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 10px 0 0;
}

.apply-btn button:focus,
.apply-btn button:hover {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background: #009aeea8;
}

/*--- HOME SLIDER CODE ENDS ---*/

.course-hero-image,
.course-view-hero-image {
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
}

.course-view-hero-image {
    background-image: url(../img/slider-4.jpg);
}

.course-hero-image {
    background-image: url(../img/slider-6.jpg);
}

.course-block {
    margin: 55px 0;
}

.course-block .course {
    border-radius: 6px;
    text-align: center;
    display: inline-block;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.7);
    -webkit-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.course-block .course:hover {
    -webkit-transform: translateY(-10px) scale(1);
    transform: translateY(-10px) scale(1);
    -webkit-box-shadow: 0 5px 5px 8px rgba(0, 0, 0, .4);
    box-shadow: 0 6px 3px -2px rgba(0, 0, 0, .6);
}

.course-block .course a {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
    text-transform: uppercase;
}

.course-block .courseOne {
    background: #28abe3;
}

.course-block .courseTwo {
    background: #eb7260;
}

.course-block .courseThree {
    background: #9b539c;
}

.course-view-block {
    padding: 20px 0;
}

.course-view-block h2 {
    font-weight: 700;
}

.course-topics {
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.course-topics .nav {
    border: none;
}

.course-topics .nav-tabs .nav-item.show .nav-link,
.course-topics .nav-tabs .nav-link.active {
    border: none !important;
    background: #eee;
}

.course-topics .nav-tabs .nav-item:hover {
    border: none !important;
    background: #eee;
}

.course-topics .nav-item a {
    color: rgba(0, 0, 0, 0.7);
}


